@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.scrollable-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
    padding: 16px;
    box-sizing: border-box;
    background-color: rgb(252, 78, 136);
}
.custom-hr {
    margin: 16px 0; /* Adjust the top and bottom margin as needed */
    padding: 0 16px; /* Adjust the left and right padding as needed */
    border: 0;
    border-top: 1px solid #fff; /* Adjust the color and style as needed */
  }